[submodule "sandbox/ModelbasedRL"]
	path = sandbox/ModelbasedRL
	url = https://github.com/hjzh4/ModelbasedRL.git
[submodule "sandbox/embed2learn"]
	path = sandbox/embed2learn
	url = https://github.com/ryanjulian/embed2learn.git
