[MASTER]
# Check docstring completeness
load-plugins = pylint.extensions.docparams, pylint.extensions.docstyle

# Go as fast as you can
jobs = 0

[REPORTS]
msg-template = {path}:{symbol}:{line:3d},{column}: {msg}
