language: python

python:
  - "3.5.2"
  
cache:
  directories:
    - $HOME/miniconda

before_install:
  # get mujoco key
  - mkdir $HOME/.mujoco
  - echo "$MJKEY" > $HOME/.mujoco/mjkey.txt

install:
  # mujoco deps
  - sudo add-apt-repository --yes ppa:flixr/backports # for patchelf
  - sudo apt-get update
  - sudo apt-get install -y libglfw2 libglew-dev libosmesa6-dev patchelf libopenmpi-dev openmpi-bin

  # mujoco installation
  - wget https://www.roboti.us/download/mjpro150_linux.zip
  - unzip mjpro150_linux.zip -d $HOME/.mujoco

  # conda installation
  - wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a
  - conda env create -f environment.yml
  - source activate garage

  # install tensorflow
  # it's not included in environment.yml because of CPU vs GPU
  - pip install tensorflow==1.8

  # prevent garage from exiting on config
  - cp garage/config.py garage/config_personal.py

  # --- uncomment if you add a test which actually uses mujoco_py ---
  # trigger compilation of mujoco_py bindings to catch problems early
  # - export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$HOME/.mujoco/mjpro150/bin
  # - python -c "import mujoco_py"

git:
  depth: false

script:
  - scripts/travisci/check_flake8.sh
  - scripts/travisci/check_imports.sh
  - scripts/travisci/check_precommit.sh

notifications:
  email: false
