language: python

services:
  - docker

addons:
  apt:
    packages:
      - docker-ce

python:
  - "3.6.6"

git:
  depth: false

before_install:
  # Reconfigure docker to be more efficient
  - |
    echo '{
      "experimental": true,
      "storage-driver": "overlay2",
      "max-concurrent-downloads": 50,
      "max-concurrent-uploads": 50
    }' | sudo tee /etc/docker/daemon.json
  - sudo service docker restart
  # prevent garage from exiting on config
  - cp garage/config_personal_template.py garage/config_personal.py
  # Pull cached docker image
  - docker pull rlworkgroup/garage-ci:latest

install:
  - tag="rlworkgroup/garage-ci:${TRAVIS_BUILD_NUMBER}"
  - |
    docker build \
      -f docker/Dockerfile.ci \
      --cache-from rlworkgroup/garage-ci:latest \
      --build-arg MJKEY="${MJKEY}" \
      -t "${tag}" \
      .

before_script:
  # Codecov utility to capture environment variables it needs
  # This should be passed as an environment variable after `docker run`.
  # e.g. `docker run ${ci_env} ...`
  - ci_env="$(bash <(curl -s https://codecov.io/env))"
  - |
    docker-run() {
      docker run \
      ${ci_env} \
      -e COVERALLS_REPO_TOKEN \
      -e COVERALLS_SERVICE_NAME \
      -e CODACY_PROJECT_TOKEN \
      -e CC_TEST_REPORTER_ID \
      -e TRAVIS_BRANCH \
      -e TRAVIS_PULL_REQUEST \
      -e TRAVIS_COMMIT_RANGE \
      -e TRAVIS \
      -e MJKEY \
      "${tag}" "$@"
    }

script:
  - docker-run scripts/travisci/check_precommit.sh
  - |
    if [[ "${TRAVIS_EVENT_TYPE}" == "cron" ]]; then
      docker-run scripts/travisci/check_cronjob_tests.sh
    else
      docker-run scripts/travisci/check_tests.sh
    fi

after_success:
  - |
    if [[ "${TRAVIS_BRANCH}" == "master" ]] && [[ "${TRAVIS_PULL_REQUEST}" == "false" ]]; then
      echo "${DOCKER_API_KEY}" | docker login -u "${DOCKER_USERNAME}" --password-stdin
      docker tag "${tag}" rlworkgroup/garage-ci:latest
      docker push rlworkgroup/garage-ci
    fi

notifications:
  email: false
