sphinx-autoapi
sphinxcontrib-bibtex

akro
click
cloudpickle
cma==2.7.0
dm_env
dowel==0.0.3
gym[atari, box2d, classic_control]==0.17.2
matplotlib
psutil
pyprind
python-dateutil
scikit-image
scipy
setproctitle
tensorflow
tensorflow-probability
